<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Lista de personas</title>
</head>
<body>
    <h1>Lista de examenes</h1>
    <table border="1">
        <tr>
            <th>Codigo</th>
            <th>Asignatura</th>
        </tr>
        <tr th:each="examen : ${lista}">
            <td th:text="${examen.id}"></td>
            <td th:text="${examen.asignatura}"></td>
            <td>
            	<a th:href="@{borrar(id=${examen.id})}">Borrar</a>
            </td>
        </tr>
    </table>
    <a th:href="@{formulario}">Formulario nuevo</a>
</body>
</html>